#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;   /* Height of the footer */
  background:#EA4C46;
  overflow: hidden;
}

#footer h1 {
  text-align: center;
  margin-top: 30px;
}