/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EA4C46;
  overflow: hidden;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,.2);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: lightgray;
}

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
} */
